.container {
  display: flex;
  background-color: #f4f4f4;
  height: 200px;
}

.item {
  background-color: bisque;
  border: 1px solid coral;
  flex: 1;
}

.item-1 {
  flex: 2;
}

.item-2 {
  flex: 3 0 auto;
}

.item-3 {
  flex: 4;
}
